[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = gonzo
	email = gonzalosaenz@gmail.com
	signingkey = 5B9513CB
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[init]
	defaultBranch = master
[alias]
	slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an)'
	aliases = config --get-regexp alias
	remov = remote -v
[help]
	autocorrect = 20
[advice]
	ignoredHook = false
[core]
	excludesfile = /Users/gonzo/.config/git/gitignore
