[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = gonzo
	email = yo@gnzsnz.com
	signingkey = 5B9513CB
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
