[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[user]
	name = gnzsnz
	email = 8376642+gnzsnz@users.noreply.github.com
	signingkey = E045DA8C87CCE368AF61F5433C112C311EFE2FF5
[commit]
	gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = auto
[init]
	defaultBranch = master
[alias]
	slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an) %G?'
	aliases = config --get-regexp alias
	remov = remote -v
[help]
	autocorrect = 20
[advice]
	ignoredHook = false
[core]
	excludesfile = ~/.config/git/gitignore
	compression = 9
	pager = diff-so-fancy | less --tabs=4 -RF
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
	gpgSign = true
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[column]
    ui = auto
[push]
    autoSetupRemote = true
[maintenance]
    auto = true
    strategy = incremental
[status]
    branch = true
[interactive]
	diffFilter = diff-so-fancy --patch
